.body {
  padding: 30px;
  flex: 0.8;
  height: 100vh;
  color: white;
  overflow: hidden;
  overflow-y: overlay;
  background-color: #171717;
}

.body::-webkit-scrollbar {
  display: none;
}

.body__info {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.madeforyou__section {
  margin-top: 30px;
}
